html {
    color: black;
    font-family: Georgia, serif;
    font-size: 24px;
}
.container {
    border: 20px solid tan;
    width: 568px;
    height: 535px;
    text-align: center;
}
.title {
    color: tan;
    font-size: 72px;
    margin: 20px;
    margin-bottom: 50px;
    margin-top: 40px;
}
.subtitle {
    color: tan;
    font-size: 32px;
    margin: 30px
}
.text {
    margin: 10px;
}
input[type=text] {
    background-color: white;
    color: black;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}
.success {
    margin: 15px;
    color: green;
    display: none;
}
.results {
    width: fit-content;
    margin: auto;
    display: none;
}